<?xml version='1.0' encoding='utf-8'?>
<!--
 Copyright (c) Yaosee Software Technologies, Inc.  All Rights Reserved.
 Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information.
-->
<plugin id="cordova-plugin-azure-adb2c" version="0.8.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Active Directory B2C for Cordova</name>
    <description>Provides Microsoft Azure Active Directory (ADAL) OAuth client.</description>

    <license>Apache 2.0</license>
    <keywords>microsoft, azure, activedirectory, b2c</keywords>
    <repo></repo>
    <issue></issue>

    <dependency id="cordova-plugin-compat" version="^1.0.0" />

    <engines>
        <!-- Required gradle functionality support -->
        <engine name="cordova-android" version=">=4.1.0" />
        <!-- Cordova 5.4.0 and Windows 4.1.0 are required for framework.target-dir support -->
        <engine name="cordova" version=">=5.4.0" />
    </engines>

    <!-- We split the resource strings into two parts: one group specific to one use and
         one independent of any use. The one specic to uses will be passed as parameters. -->

    <js-module name="utility" src="www/utility.js">
        <runs />
    </js-module>

    <js-module name="AuthenticationContext" src="www/AuthenticationContext.js">
        <clobbers target="Azure.ADB2C.AuthenticationContext" />
    </js-module>

    <js-module name="CordovaBridge" src="www/CordovaBridge.js"/>
    <js-module name="AuthenticationResult" src="www/AuthenticationResult.js"/>
    <js-module name="TokenCache" src="www/TokenCache.js"/>
    <js-module name="TokenCacheItem" src="www/TokenCacheItem.js"/>
    <js-module name="UserInfo" src="www/UserInfo.js"/>

    <js-module name="AuthenticationSettings" src="www/AuthenticationSettings.js">
        <clobbers target="Azure.ADB2C.AuthenticationSettings" />
    </js-module>

    <platform name="android">
        <!-- B2C common settings defined in a esource file -->
        <!-- TODO: Maybe we need to use a name which is most likely unique in the target. -->
        <resource-file src="src/android/azure_adb2c_settings.xml" target="res/values/azure_adb2c_settings.xml" />
        <!-- layout -->
        <resource-file src="src/android/azure_adb2c_token_activity.xml" target="res/layout/azure_adb2c_token_activity.xml" />
        <!-- image -->
        <resource-file src="src/android/azure_adb2c_auth_logo.xml" target="res/drawable/azure_adb2c_auth_logo.xml" />
       
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AzureADB2CProxy">
                <param name="android-package" value="com.peeroffers.identity.CordovaIdentityPlugin"/>
            </feature>
        </config-file>

        <framework src="com.android.support:support-v4:+" />
        <framework src="com.android.support:appcompat-v7:+" />
        <framework src="com.android.support:design:22.2+" />        

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
        </config-file>
    </platform>
</plugin>
